body {
  background-image: url('moneyraining.gif');
  height: 100%;
  width: 100%;
  background-position: middle;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: cornflowerblue;
  text-align: center;
  font-size: 100px;
  margin: auto;
  width: 100px;
  padding-top: 200px;
  justify-content: space-around;
  padding-right: 15%;
}

button {
  height: 50px;
  width: 70px;
  display: block;
  max-width: 300px;
  margin: auto;
  border-radius: 15px;
}

#startButton {
  text-align: center;
  vertical-align: center;
}
