h1 {
  text-align: center;
  color:green;
}

.money{
  color:green;
}

.expenses {
  color: red;
}

body {
  background-color: deepskyblue;
}

.budgetInfo {
  text-align: center;
}

#budgetHeading {
  justify-content: space-between;
  display: flex;
