h1 {
  text-align: center;
  color:green;
  font-size: 65px;
}

.money{
  color:green;
}

.expenses {
  color: red;
}

body {
  background-color: deepskyblue;
  font-family: 'Courgette', cursive;
}

.budgetInfo {
  width: 800px;
  height: auto;
  background-color: white;
  border: 3px solid black;
  border-radius: 50px;
  margin: 0 auto;
}
.text_in_div{
  margin-left: 45px;
}
#header{
  font-size: 30px;
}
#top_of_page{

  width: auto;
  height: auto;
  border-bottom: 5px solid black;
}
#tab{
  margin-left: 80px;
  font-size: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
    font-family: 'Courgette', cursive;
}
.dropdown:hover .dropdown_content {
  display: block;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown_content a:hover {background-color: #f1f1f1}

#budgetHeading {
  justify-content: space-between;
  display: flex;
  margin-left: 200px;
  margin-right: 200px;


button{
  background-color: deepskyblue;

}
