body {
  background-color: deepskyblue
}


.expenses {
display: flex;
}
#expense{
  padding-right: 100px;
}
#des{
  padding-right: 60px;
}
#submit{
  float: right;
}

#individual_divs {
  border-color: white;
  border-style: solid;
  border-width: 5px;
  display: flex;
  border-radius: 10px;
  justify-content:space-evenly;
  width: 95%;
  margin-bottom: 5px;
}
input{
  height: 25px;
}
select{
  height: 35px;
}
#savingType{
  width: 200px;
}
#boxes1 {
  width: 95.25%;
  border-radius: 10px;
  display: flex;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 30px;
  margin-bottom: 5px;
  justify-content:space-evenly;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown_content {
  display: block;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown_content a:hover {background-color: #f1f1f1}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
  padding-left: 10%;
  padding-right: 10%;
}

.savingsButtons {
  height: 80pt;
  width: 100pt;
  border-radius: 15px;
}

.barText {
  text-align: center;
  padding-top: 100pt;
  font-size: 25pt;
}

#barHeader {
  text-align: center;
}
