body {
  background-image: url('moneyraining.gif');
  height: 100%;
  width: 100%;
  background-position: middle;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: cornflowerblue;
  text-align: center;
  font-size: 100px;
  margin: auto;
  width: 100px;
  padding-top: 200px;
  justify-content: space-around;
  padding-right: 10%;
}

button {
  height: 75px;
  width: 150px;
  display: block;
  max-width: 300px;
  margin: auto;
  border-radius: 15px;
  background-color: green;
  font-size: 25pt;
}
.row{
  display: flex;
  font-size: 25px;
  margin-right: 35px;
  float:right;
  justify-content:space-evenly;

}
#Login{
  padding-right: 10px;
}
#Sign-up{
  padding-left: 10px;
}
#startButton {
  /* text-align: center;
  vertical-align: center; */
  margin-left: 43%;
  margin-right: 40%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 35px;
  margin-left: 600px;
  justify-content: space-evenly;
}

#logInPlease {
  font-size: 20pt;
}

#logInPleaseDiv {
  background-color: lightgrey;
  margin: auto;
  border-radius: 15px;
  padding: 5% 5% 5% 5%;
}
