body {
  background-image: url('moneyraining.gif');
  height: 100%;
  width: 100%;
  background-position: middle;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: cornflowerblue;
  text-align: center;
  font-size: 100px;
  margin: auto;
  width: 100px;
  padding-top: 200px;
  justify-content: space-around;
  padding-right: 15%;
}

button {
  height: 50px;
  width: 70px;
  display: block;
  max-width: 300px;
  margin: auto;
  border-radius: 15px;
}
.row{
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  margin-left: 600px;
  justify-content:space-evenly;
  
}

#startButton {
  text-align: center;
  vertical-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 35px;
  margin-left: 600px;
  justify-content: space-evenly;
}
