<!DOCTYPE html>
<html>
<head>
  <title>Budget Buddy</title>
  <link rel="stylesheet" href="../style/expenses_style.css">
</head>
<body>


  <h1>Total Savings & Progress of {{email_address}}</h1>
  <div id=startButton>
  <br>
  <br>
  <br>

    <button onclick="savingOneMonth()" type="button" id="oneMonthSavingButton">After 1 month of saving: </button>
    <p>Savings after one month: {{saving_info.money_being_saved}}
    <button onclick={{cgfvhbj}}>
  </div>

<script src="../Index.js"></script>
</body>
</html>
