<!DOCTYPE html>
<html>
<head>
  <title>Budget Buddy</title>
  <link rel="stylesheet" href="../style/expenses_style.css">
</head>
<body>


  <h1>Total Savings & Progress of {{email_address}}</h1>
  <div id=startButton>
  <br>
  <br>
  <br>

    <button onclick="" type="button" id="oneMonthSavingButton">After 1 month of saving: </button>
    <button onclick="" type="button" id="oneMonthSavingButton">After 2 month of saving: </button>
    <button onclick="" type="button" id="oneMonthSavingButton">After 6 month of saving: </button>
    <button onclick="" type="button" id="oneMonthSavingButton">After 12 month of saving: </button>
    <p>Savings after one month: {{saving_info.money_being_saved}}
      Savings after 2 months: {{savingM2}}
      Savings after 6 months: {{savingM6}}
      Savings after 12 months: {{savingM12}}
    </p>
    <button onclick={{cgfvhbj}}>
  </div>

<script src="../Index.js"></script>
</body>
</html>
