<!DOCTYPE html>
<html>
<head>
  <title> Budget Buddy </title>
  <link rel="stylesheet" href="../style/budgetstyle.css">
</head>
<body>
  <h1>Budget Confirmation</h1>
  <h3> Input Payment Amount Per Month/Number of Months of Payment: <span class= money> {{something from python}} </span></h3>
  <br>
  <p>
    Is this information correct?
    <button type="button" onclick="window.location.href = '/budget';"> Return to Budget Page </button>

  </p>
<script src="../Index.js"></script>
</body>
</html>
