<!DOCTYPE html>
<html>
<head>
  <title> Budget Buddy </title>
  <link rel="stylesheet" href="../style/budgetstyle.css">
</head>
<body>
  <img id="hamburger_icon" src="https://cdn2.iconfinder.com/data/icons/music-player-icons-line/45/Menu_Bar-512.png"
    alt="dropdown_button_image">
  <h1>Budget Overview</h1>


  <h3><center>Here's your inputed information</center></h3>

  <br>


    <h3>Income: ${{income_info.income}}</h3>

    {% for each_blog in budget_info %}
      <h3>Expense: {{each_blog.expenses}}</h3>
      <p>Amount: ${{each_blog.expense_amount}}</p>
      <p>Description: {{each_blog.description}}</p>
    {% endfor %}
    <br>
  <h3> Money Remaining After Expenses: <span class= money>${{total_info.total_amount}} </span></h3>
  <h3>Your saved ${{saving_info.money_being_saved}} and this amount has been included in money after expense<h3>


  <br>

<script src="../Index.js"></script>
</body>
</html>
