<!DOCTYPE html>
<html>
<head>
  <title> Budget Buddy </title>
  <link rel="stylesheet" href="../style/budgetstyle.css">
</head>
<body>
  <h1>Budget Overview</h1>t
  <h3><center>Here's your inputed information</center></h3>

  <br>

    <h3>Income: ${{budget_info.income}}</h3>
    <h3>Expense: {{budget_info.expenses}}</h3>
    <p>Amount: ${{budget_info.expense_amount}}</p>
    <p>Description: {{budget_info.description}}</p>
    
  <h3> Money Remaining After Expenses: <span class= money> </span></h3>

  <br>
  <p>
    How would you like to save your money?
    <form>
      <input type="radio" name="savingType" value="savingPerMonth"> Saving $__ Every Month<br>
      <input type="radio" name="savingType" value="savingForSetMonths"> Saving Money for __ months<br>
      <span id="savingTypeDisplay"><input type="text" name="savingType" value=""></span>
      <br>
      <input id= "submitButton "type="submit" value="Submit">
    </form>
  </p>
<script src="../Index.js"></script>
</body>
</html>
