<!DOCTYPE html>
<html>
<head>
  <title>Budget Buddy</title>
  <link rel="stylesheet" href="../style/expenses_style.css">
</head>
<body>
  <div class="row" id="row1">
    <div class="item" id="Login"><a href="">Login</a></div>
    <div class="item" id="space">|</div>
    <div class="item" id="Sign-up"><a href="">Sign Up</a></div>
  </div>

  <h1><center>Budget Buddy</center></h1>
  <h3><center>Here's your inputed information</center></h3>
  <h3>Expense: {{budget_info.expenses}}</h3>
  <p>Amount: {{ budget_info.expense_amount}}</p>
  <p>Description: {{budget_info.description}}</p>
  <p>Income: {{budget_info.income}}</p>
  <p><a href=" budget.html">Return to Budget Report</a></p>


</body>
</html>
