<!DOCTYPE html>
<html>
<head>
  <title>Expenses</title>
  <link rel="stylesheet" href="../style/expenses_style.css">
</head>
<body>
<h1><center>Welcome Back<center></h1>
<form method="post" action="/budget">
      <h2>Monthly Income </h2>$ <input id="monthly_income" type="number" name="inserted_income" placeholder="0.00" value="" ></p>
      <div id="boxes">
        <h2>Expenses:</h2>
        <div id="individual_divs">
        <h3>Expenses: <br>
        <select name="dropdown">
          <option value="Groceries" selected>Groceries</option>
          <option value="Home">Home and Utilites</option>
          <option value="Debt">Debt or Loans</option>
          <option value="Tuition">Tuition</option>
          <option value="Health"> Health and Personal Care</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Other">Other</option>
        </select>
      </h3>

        <h3>Description<br><input id ="destext" type="text" placeholder="add a description" value=""></h3>
        <h3>Amount <br> $<input id="expense_amount" type="number" name="amount" placeholder="0.00" value=""> <button type="button" id="add">+</button></h3>
    </div>
    </div>
<input id ="submit" type="submit" value="Submit">


    </form>
<script src="../Index.js"></script>
</body>
</html>
