<!DOCTYPE html>
<html>
<head>
  <title>Expenses</title>
  <link rel="stylesheet" href="../style/expenses_style.css">
</head>
<body>
<h1><center>Welcome Back<center></h1>
<form method="post" action="/budget_confir.html">
      <h2>Monthly Income <br>$<input id="monthly_income" type="number" name="income_added" placeholder="0.00" step="0.01" value="" ></h2>
      <div id="boxes">
        <h2>Expenses:</h2>
        <div id="individual_divs">
        <h3>Expenses: <br>
        <select name="dropdown">
          <option value="Groceries" selected>Groceries</option>
          <option value="Home">Home and Utilites</option>
          <option value="Debt">Debt or Loans</option>
          <option value="Tuition">Tuition</option>
          <option value="Health"> Health and Personal Care</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Other">Other</option>
        </select>
      </h3>

        <h3>Description<br><input id ="destext" type="text" name = "description_of_thing" placeholder="add a description" value=""></h3>
        <h3>Amount <br> $<input id="expense_amount" type="number" name="amount" placeholder="0.00" step="0.01" value=""> <button type="button" id="add">+</button></h3>

    </div>
    </div>
    <div>
    <p>
      How would you like to save your money?
        <select name="savings_set">
          <option value="savingPerMonth" selected> Saving $__ Every Month</option>
          <option value="savingForSetMonths"> Saving Money for __ months</option>
        </select>
        <span id="savingTypeDisplay">
          <input id="savingType"type="number" name="savingType" placeholder="amount of money or # of monthes"value="">
        </span>
        <br>
    </p>
  </div>
<input id ="submit" type="submit" value="Submit">

    <input type='hidden' id="counter_input" name='counter' value='1'>
    </form>
<script src="../style/Index.js"></script>
</body>
</html>
