<!DOCTYPE html>
<html>
<head>
  <title>Budget Buddy</title>
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <div class="row" id="row1">
    <div class="item" id="Login"><a href="">Login</a></div>
    <div class="item" id="space">|</div>
    <div class="item" id="Sign-up"><a href="">Sign Up</a></div>
  </div>

  <h1>Budget Buddy</h1>
  <div id=startButton>
  <br>
  <br>
  <br>
    <button onclick="window.location.href = '/expenses';" type="button">START</button>
  </div>

</body>
</html>
