<!DOCTYPE html>
<html>
<head>
  <title> Budget Buddy </title>
  <link rel="stylesheet" href="../style/budgetstyle.css">
</head>
<body>
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">

  <div class="dropdown">
    <img id="hamburger_icon" src="https://img.icons8.com/carbon-copy/2x/menu.png"
        alt="dropdown_button_image"style="width:100px;height:100px;"/>
    <div class="dropdown_content">
      <a href="/add_wishlist">Add a Wishlist</a>
      <a href ="/expenses">Add Expenses</a>
      <a href="/budget.html">Budget Page</a>
      <a href="/bar">Goal Bar</a>

    </div>
  </div>



  <br>

  <div class="budgetInfo">
    <div id="top_of_page">
    <h1>Wishlist</h1>
  </div>
    <!-- {{listofitems}}<br>
    {{listofprices}} -->
    {% for x in range(listofitems|length) %}
    <h3 class="text_in_div" id="header"><u>Name:</u> {{listofitems[x]}}        <u>Price:</u> {{listofprices[x]}}</h3>
    <br>
    {% endfor %}
    <h3 class="text_in_div" id="header">You need ${{wishlist_total_info}} to get all of this</h3>
    <!-- {% for item in listofitems %}
      <h3>{{item}}</h3>
    {% endfor %}
    <br>
    {% for price in listofprices %}
      <h3>{{price}}</h3>
    {% endfor %} -->

</div>

  <br>

<script src="../wishlist.js"></script>
</body>
</html>
